body{
    background-color: #ffffff;
}

.navbar-right{
    margin-right: 0px !important;
    padding-left: 16px;
}

.welcomenav {
    border-bottom: 1px solid;
    border-color: #000;
    padding: 2%;
    margin-bottom: 20px;
    color: #12a9c9;
}

.intro{
    margin-bottom: 20px;
    padding: 2%;
}

#page-wrapper{
    min-height: auto !important;
}

@media (min-width: 768px) {
    .page-wrapper-fullpage{
        margin: 0 0 0 0 !important;
        border: none !important;
    }
}

@media (min-width: 798px) {
    .page-wrapper-fullpage{
        padding: 0px calc((100vw - 768px) / 2) 0 calc((100vw - 768px) / 2) !important;
    }
}

.nav-custom-left > li{
    float: left;
}

footer {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

#wrapper {
    margin-bottom: 35px;
}

.manage-wishes .wish-questions{
    list-style-type: none;
    padding: 0;
}

.manage-wishes .wish-questions li{
    width: 100%;
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
    min-height: 40px;
}

.manage-wishes .wish-questions li.inactive{
    border-color: #cccccc;
    color: #cccccc;
}

.manage-wishes .wish-questions li .icons{
    float: right;
    font-size: 20px;
    padding-right: 10px;
}

.modal-body input, .modal-body select{
    width: 100%;
    margin-bottom: 10px;
}