body{
    background-color: #ffffff;
}

.navbar-right{
    margin-right: 0px !important;
    padding-left: 16px;
}

.welcomenav {
    border-bottom: 1px solid;
    border-color: #000;
    padding: 2%;
    margin-bottom: 20px;
    color: #12a9c9;
}

.intro{
    margin-bottom: 20px;
    padding: 2%;
}

#page-wrapper{
    min-height: auto !important;
}

@media (min-width: 768px) {
    .page-wrapper-fullpage{
        margin: 0 0 0 0 !important;
        border: none !important;
    }
}

@media (min-width: 798px) {
    .page-wrapper-fullpage{
        padding: 0px calc((100vw - 768px) / 2) 0 calc((100vw - 768px) / 2) !important;
    }
}

.nav-custom-left > li{
    float: left;
}

footer {
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 35px;
    line-height: 35px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

#wrapper {
    margin-bottom: 35px;
}

.manage-wishes .wish-questions{
    list-style-type: none;
    padding: 0;
}

.manage-wishes .wish-questions > li, .manage-wishes .new-question{
    position: relative;
    width: 100%;
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px 5px 5px 15px;
    min-height: 40px;
}

.manage-wishes .wish-questions > li.inactive{
    border-color: #cccccc;
    color: #cccccc;
}

.manage-wishes .wish-questions > li .icons{
    float: right;
    font-size: 20px;
    padding-right: 10px;
}

.manage-wishes .new-question div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccccccf0;
}

.modal-body input, .modal-body select{
    width: 100%;
}

.modal-body input.wq-edit-option{
    width: calc(100% - 25px);
}

.modal-body .wq-edit-option-delete{
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 16px;
    padding-left: 6px;
}

.modal-body #wq-edit-option-add{
    float: right;
    width: 25px;
    height: 25px;
    display: inline-block;
    font-size: 16px;
    padding-left: 5px;
}

table tr.custom-odd{
    background-color: #f9f9f9;
}

table tr.custom-even.row1 td, table tr.custom-odd.row1 td{
    border-top-width: 0;
}

table tr.custom-even.row1, table tr.custom-odd.row1{
    border-top: 1px solid #969696;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
}

table tr.custom-even.row2, table tr.custom-odd.row2{
    border-bottom: 1px solid #969696;
    border-left: 1px solid #969696;
    border-right: 1px solid #969696;
}